nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  background: rgb(39, 39, 39);
  border-bottom: 3px solid rgb(246, 216, 69);

  h2 {
    font-size: 3rem;
    color: white;
  }
  a {
    height: 100%;
    img {
      border-radius: 100%;
    }
  }
}

.container-profil-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  height: 200px;
  padding: 20px;

  .info-profil {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      object-fit: cover;
    }

    .text-profil {
      padding: 10px;
      color: gray;
    }
  }
}

.future-event {
  width: 50%;
  background: linear-gradient(rgb(246, 216, 69), rgb(145, 139, 113));
  margin-left: 30px;
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  color: white;
  text-align: center;

  h3 {
    margin-bottom: 15px;
  }
  .text-event {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 100px;
    }
    p {
      align-content: start;
    }
  }
}

.btn-toggle {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;

  button {
    width: 200px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: rgb(246, 217, 69);
      border: none;
      transition: 0.3s ease-in-out;
    }
  }
}
