nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  background: rgb(39, 39, 39);
  border-bottom: 3px solid rgb(246, 216, 69);
}

nav h2 {
  font-size: 1.5rem;
  color: white;
}

nav p {
  font-size: 1rem;
  color: white;
}

nav img {
  height: 60px;
  border-radius: 100%;
}

nav .container-nav-cta {
  display: flex;
  gap: 10px;
}

nav button {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

nav button:hover {
  background: rgb(246, 216, 69);
  transition: 0.3s ease-in-out;
}

nav button a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.container-header-landingpage {
  background: url("../../asset/img/img-concert3.jpeg") center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .container-header-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 40px;
    }

    .container-heeader-cta {
      padding: 12px 30px;
      margin: 10px;
      border-radius: 20px;
      border: none;
      background: rgb(246, 216, 69);
      cursor: pointer;
      transition: 0.3s ease-in-out;
      a {
        text-decoration: none;
        color: rgb(39, 39, 39);
        font-size: 1rem;
      }

      &:hover {
        background: white;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
.infos-event {
  background-color: rgb(39, 39, 39);
  width: 100%;
  height: 80px;
  color: rgb(246, 216, 69);
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos-event p {
  font-size: 1.5rem;
  font-weight: bold;
}
section {
  width: 100%;
  padding: 40px 20px;
}
.container-description {
  display: flex;
  text-align: center;
  gap: 40px;
  padding: 15px;
  justify-content: space-around;
}

.container-description p {
  font-size: 1rem;
  color: rgb(39, 39, 39);
}

.container-hover-img {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.container-hover-img img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid rgb(246, 216, 69);
}

.keywords {
  background-color: rgb(39, 39, 39);
  margin-top: 40px;
  text-align: center;
  padding: 20px;
}

.keywords p {
  color: rgb(246, 216, 69);
  font-size: 1.2rem;
  font-weight: bold;
}
