.body-connect {
  display: grid;
  place-content: center;
  margin: 0 auto;
  align-content: center;
  background: url(../../asset/img/img-concert3.jpeg) center/cover no-repeat;

  .form-conect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    background: rgb(39, 39, 39);
    box-shadow: 3px 3px 0px 3px rgb(246, 216, 69);

    .container-connect-email,
    .container-connect-password {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0px;
      label {
        color: white;
        font-size: 0.8rem;
      }
    }
    button {
      width: 100px;
      margin: 20px auto;
      border: 1px solid silver;
      border-radius: 5px;
      a {
        color: rgb(39, 39, 39);
        text-decoration: none;
        font-size: 1.6rem;
        transition: 0.3s ease-in-out;
      }
      &:hover {
        a {
          color: white;
        }
        background: rgb(246, 216, 69);
        transition: 0.3s ease-in-out;
      }
    }
  }
}
