nav {
  background: linear-gradient(
    90deg,
    #cddc39 0%,
    #ffeb3b 20%,
    #ffc107 40%,
    #ff9800 60%,
    #ff6ec7 80%,
    #e91e63 100%
  );
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  button {
    background-color: transparent;
    border-radius: 10px;
  }
  img {
    height: 40px;
  }
}
.container-header-landingpage {
  background-image: url("/EventCity-Project/public/asset/img/image-concert.png");
  background-size: cover;
  height: 600px;
  align-items: center;
  justify-content: space-between;

  .container-header-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    text-align: center;

    h1 {
      font-size: 100px;
    }

    p {
      font-size: 24px;
      margin-bottom: 40px;
    }

    .container-heeader-cta {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
.infos-event {
  background-color: blueviolet;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos-event p {
  font-size: 2.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
section {
  justify-content: space-between;
  width: 100%;
}

.container-description {
  display: flex;
  text-align: center;
  gap: 40px;
  padding: 15px;
}
.container-hover-img {
  display: flex;
  justify-content: center;

  gap: 25px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.container-hover-img img {
  width: 420px;
}
.keywords {
  background-color: rgb(240, 240, 240);
  margin-top: 40px;
  text-align: center;
  justify-content: center;
  gap: 15px;
}
.keywords p {
  padding: 10px 15px;
  font-size: 1.1rem;
}
footer {
  background-color: rgb(22, 19, 17);
  color: white;
  text-align: center;
  padding: 2rem 1rem;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-links {
    margin-bottom: 1rem;

    a {
      color: white;
      margin: 0 0.5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-info {
    font-size: 0.9rem;
  }
}
