.body-connect {
  display: grid;
  place-content: center;
  margin: 0 auto;
  align-content: center;
  background: url(../../asset/img/img-concert3.jpeg) center/cover no-repeat;

  .form-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background: rgb(39, 39, 39);
    box-shadow: 3px 3px 0px 3px rgb(246, 216, 69);
    border-radius: 10px;

    .container-connect-email,
    .container-connect-password {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 5px 0px;
      width: 100%;
      label {
        color: white;
        font-size: 1.4rem;
      }
      input {
        width: 100%;
      }
      span {
        bottom: -10px;
        left: 0;
        display: block;
        font-size: 0.5rem;
        transition: 0.3s;
        color: red;
      }
      .error {
        border: 1px solid rgba(255, 0, 0, 0.527);
      }
    }
    button {
      width: 100px;
      margin: 20px auto;
      padding: 5px;
      border: 1px solid silver;
      border-radius: 100px;
      font-size: 1.2rem;
      font-weight: 600;
      &:hover {
        background: rgb(246, 216, 69);
        transition: 0.3s ease-in-out;
      }
    }
  }
}
